@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.header {
  width:100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}


.app-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 90vh;
}

.form-body {
  width: 40%;
  order: 1;
}

.response-body{
  margin-top: -5%;
  width: 60%;
  order: 2;
  align-items: center;
}

.response-body h1 {
  text-align:center;
  color: #fa4454;
  font-family: "Valorant", sans-serif;
}

.update-btn{
  margin-top: 3%;
  float:right;
  margin-right: 3%;
}